@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to the online Hub of Second Chance Ranch and Rescue!
  Proudly serving Houston County, Texas and the surrounding areas since 2019!  </p>

<h4>Some backstory...</h4>

<p> Second Chance Ranch and Rescue started out as a pipe dream by two distance challenged star crossed lovers. With Kev living in Houston County, Texas and me living in Colorado Springs at the time, it was nothing more than just something that we would talk about and bond over. After the major mobile provider that I was working for in the Springs decided to close their facilities, I packed what I decided that i couldn't part with and embarked on a 20 hour journey to Deep East Texas. After a month, we adopted our first, Schatzi. Despite the barriers that we have faced to make this dream a reality, we have kept our heads held high in order to help the most vulnerable and forgotten of Houston County's collective: their dogs. While I (Jeff) types this, I recollect a few days prior when I was on my way home and someone abandoned three dogs on the highway.</p>

<p> I've always had a soft spot for dogs, as has Keven. We firmly believe that if someone chooses to bring a slobbery four legged companion into their lives, that they are making a lifetime commitment. Personally, I would never imagine myself just turning someone who has grown to trust, love and depend on me into an uncertain future. This is where we decided to act. Houston County has no place for people to <strong> responsibly</strong> surrender a pupper. That isn't right. People were just leaving them to fend for themselves. We committed ourselves to being a home for those who have been cast out coldheartedly and gladly offer a home to their happy tails and slobbery faces. We also aim to help find our new friends a loving forever home. </p>
