@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2000 SE Loop 304<br />
    Crockett, TX 75835<br />
    <abbr title="Phone">P:</abbr>
    936.204.3066<br/> 
    <abbr title="Phone">P:</abbr>
    936.222.8942
</address>

<address>
    <strong>Jeff:</strong>   <a href="mailto:jeff@secondchance.org">Jeff@secondchance.org</a><br />
    <strong>Kev:</strong> <a href="mailto:keven@secondchance.org">Keven@secondchance.org</a>
</address>