<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Whoops!</h1>
        <h2>Something went wrong and Schatzi feels bad about it.</h2>
        <p> @Model</p>
    </hgroup>
</body>
</html>
<img src="C:\Users\Onshore\Pictures\youre-tearing-me-apart-lisa-meme.jpg"/>
